@import '~antd/dist/antd.css';

.site-layout .site-layout-background {
    background: #fff;
}

.ant-tabs-tab-btn a {
    color: inherit;
}

.ant-page-header-heading {
    justify-content: center;
}

.logout {
    position: absolute;
    top: 15px;
    right: 20px
}

.pinned {
    position: sticky;
    bottom: 60px;
    left: 60px;
}

.shop {
    margin-top: 20px;
}

.shop .ant-tabs-nav {
    margin: 0;
}

.ant-layout-header {
    background: white;
    border-bottom: 1px solid #f0f0f0;
}

.settings {
    display: none;
}

.ant-menu-submenu .settings {
    display: inline;
}

.logo {
    float: left;
    margin: 16px 24px 16px 0;
}

.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.item-details {
    .ant-list {
        .ant-card-body {
            padding: 16px;
            height: 200px;
        }
    }

    .ant-card-grid {
        height: 230px;
    }

    //&.ant-card {
    //    height: 230px;
    //}

    .ant-card-body {
        padding: 16px;
        height: 230px;
    }
}
